.gameContainer {
  position: relative;
  display: inline-flex;
}

.gameCanvas {
  background-color: black;
}

.sideContainer {
  display: inline-block;
}

.fps {
  background-color: white;
  color: white;
}